

html,
body
{
    overflow: hidden;
    margin:0px;
    padding:0px;
}
#Application {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#escmenu {
    display: none;
    position: fixed;
    z-index: 3;
    left: 3%;
    top: 3%;
    /* width: 30%;
    height: 17%; */
    overflow: auto;
  }
  
  .escmenu-content {
    background-color: #fefefe;
    /* margin: 15% auto; */
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
  }
  
  .close {
    z-index:3;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  .startmenu {
    z-index:2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background-color: #f4f2ee;
    border: 1px solid #3d405b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    overflow:scroll;
    height:600px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* Transition */
    opacity: 0;
    transform: translate(-50%, -40%);
    transition: transform 0.5s, opacity 0.5s;
    pointer-events: none;


}
.startmenu.open {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;

}

.startmenu::-webkit-scrollbar {
  display: none;
}


.startmenu-content {
    pointer-events: none;
    position:absolute;
    display:flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s;
  }

h2 {
    color: #545e56;
    margin: 0;
    margin-top:4%;
}

h4 {
    color: #8a817c;
    margin: 5px 0;
    margin-top:4%;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #545e56;
    font-size: 24px;
    cursor: pointer;
}

input {
    width: 80%;
    padding: 5px;
    border: 3px solid #545e56;
    border-radius: 5px;
    background-color: #463f3a;
    color: #f4f3ee;
    margin-bottom: 10px;
}

input[type="file"] {
    padding: 0;
}

input[type="text"]::placeholder {
    color: #AF7A6D;
}

input[type="text"] {
  padding: 6px 12px;
  height: 36px;
}

#imageblocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


button {
  background-color: #545e56;
  color: #EAF9D9;
  border: 1px solid #b8ccbc;
  border-radius: 5px;
  padding: 5px 12px;
  margin-left: 10px;
  margin-bottom:20px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 36px; /* Match height with input[type="text"] */
  line-height: 24px; /* Center the text vertically */
}

button:hover {
  background-color: #463f3a;
}

form {
  width:98%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-containers {
  display:inline-block;
  width:96%;
  padding:2%;
}

.image-wrapper {
  display: inline-block;
  max-width:40%;
  width: 200px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  overflow: hidden;
  margin: 5px; /* Add space between images */
  padding: 3%;
  position: relative;
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 4px 2px 2px #463f3a; /* Add red outline effect */
}

.image-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 150%;
}
.image-wrapper:hover {
  transform: translate(0, -7%);
  cursor: pointer;
  box-shadow: 5px 7px 2px #463f3a; /* Add red outline effect */
}
.image-wrapper {
  transition: transform 0.3s cubic-bezier(0.01, 0.02, 0.03, 0.8), box-shadow 0.3s cubic-bezier(0.01, 0.02, 0.03, 0.8);

}

.image-preview-container {
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer and Edge */
  user-select: none; /* Standard syntax */
  z-index: 0;
  left: 0%;
  top: 0%;
  position: absolute;
  border: 2px solid #555;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px;
  background-color: #fff;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.1, 0.2, 0.3, 0.99), padding 0.2s cubic-bezier(0.1, 0.2, 0.3, 0.99);

}

.image-preview-container:before {
  content: "Hover to see preview image";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #463f3a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, display 0s 0.3s;

}

.image-preview-container:hover {
  max-height: 540px; /* Add 20px to compensate for the padding */
  padding: 20px;
  z-index:1;
}

.image-preview-container:hover:before {
  opacity: 0;

}

#imagePreview {
  max-width: 500px;
  max-height: 400px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  background-color: #f4f2ee;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);


}


#imagePreviewContainer {
  z-index:0;
}

.pin-button {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  margin-left:0px;
  z-index: 2;
  color: #fff;
  border: none;
  margin-top:8px;
  margin-bottom:0px;
  font-size: 14px;
  width:100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pin-button:focus {
  outline: none;
}

.pin-button.depressed {
  top: 12px;
  box-shadow: none;
}

.image-preview-container:hover #imagePreview,
.image-preview-container.pinned #imagePreview {
  background-color: #463f3a; /* Set the background color when hovered or pinned */
  opacity: 1;
}

.image-preview-container.pinned {
  max-height: 540px;
}

.image-preview-container.pinned:before {
  opacity: 0;
  display: none;
}
.image-preview-container:hover:before {
  opacity: 0;
  display:none;
}

.no-interaction {
  pointer-events: none;
}



.settings-content {
  width:93%;
}

.display {
  pointer-events:inherit;
  display:flex;
  opacity: 1;
}

.settings-button {
  z-index:3;
  width:30px;
  top:3%;
  left:3%;
  position:absolute;

}

.settings-button:hover {
  cursor: pointer;

}

select {
  margin:15px;

  padding: 15px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #463f3a;
  color: white;
  font-size: 16px;
  margin-bottom: 16px;
  width: 90%;
  text-align:center;
}
select.mm option:hover {
  background-color: red;
}


/* Style for the checkbox inputs */
input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
}

/* Style for the checkbox inputs when checked */
input[type=checkbox]:checked::before {
  color: #463f3a;
  content: "\2713";
  font-size: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.shadowrealm {
  display:none !important;
}

#background {
  height:1440px;
  width:2560px;
  z-index:-5;
}

#application {
  height: 100%;
  width:100%;
}

#main {
  position:absolute;
  z-index:0;
}



/* Loader */
#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* Controls popup */
#controls {
  display:inline-block;
  z-index:1;
  background: #f4f2ee;
  position: fixed; /* Changed to fixed to stick to bottom right */
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translate(9vw, calc(100% - 37px)); /* Adjust 50px to match the height of your button */
  transition: transform 0.5s, padding 0.5s; /* Added transition for padding */

  background-color: #f4f2ee;
  border: 1px solid #3d405b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0; /* Set padding to 0 initially */

}

#controls.controls-open {
  transform: translateY(0);
  padding: 20px; /* Add padding when opened */
  padding-top:5px;
}

#toggleControls {
  left: 0; /* Adjust to set distance from the left */
  top: 0; /* Adjust to set distance from the top */
  font-size: 18px; /* Adjust font size as needed */
  padding: 5px; /* Set padding as needed */
  transition: transform 0.5s, width 0.5s, margin 0.5s; /* Added transition for font-size */
  margin:0px;
}

#controls.controls-open #toggleControls {
  font-size: 18px; /* Increase the font size when the div is opened */
  transform: scale(1); /* Bring the button to its normal size */
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
}

.controls-inner {
  position:relative;
}